<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PatientEducationAssembler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Patient_Education_Assembler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PatientEducationAssembler.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysShowWord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxWordInstances" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CacheAge" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ExpireCachedContent" serializeAs="String">
                <value>True</value>
            </setting>
        </PatientEducationAssembler.Properties.Settings>
        <Patient_Education_Assembler.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="AlwaysShowWord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxWordInstances" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CacheAge" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ExpireCachedContent" serializeAs="String">
                <value>True</value>
            </setting>
        </Patient_Education_Assembler.Properties.Settings>
    </userSettings>
</configuration>
